<div class="table_wrapper">
  <% if type.eql? 'index' %>
    <h1 class="table_heading">Project Listing</h1>
  <% elsif type.eql? 'show' %>
    <h1 class="table_heading">Project Details</h1>
  <% end %>
  
  <table class="table">
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <tr> 
        <td><strong>Project Name</strong></td>
        <td><strong>Programming Language</strong></td>
        <td><strong>Description</strong></td>
        <td><strong>Action</strong></td>
      </tr>

      <% if type.eql? 'index' %>
      
        <div class="table_top_actions">
          <%= link_to 'Add New Project', new_project_path %>
        </div>
      
        <% projects.each do |project| %>
          <tr>
            <td><%= project.name %></td>
            <td><%= project.lang %></td>
            <td><%= project.description %></td>
            <td><%= link_to 'View', project_path(project) %></td>
          </tr>
        <% end %>
      
      <% elsif type.eql? 'show' %>
      
        <div class="table_top_actions">
          <%= link_to 'Collaborators', project_collaborators_path(project) %>
        </div>
      
        <tr>
          <td><%= project.name %></td>
          <td><%= project.lang %></td>
          <td><%= project.description %></td>

          <% if current_user == project.creator %>
            <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <% else %>
            <td><%= link_to 'Join', '#' %></td>
          <% end %>
        </tr>       
      
      <% end %>
      
    </tbody>
  </table> 
  
</div>