<div class="project_table_wrapper">
  <%= render 'projects/links', type: type, project: data %>
  
  <table class="table">

    <tbody>
      <%= render 'projects/table_headers', project: data %>

      <% if type.eql? 'index' %>
      
        <% data.each do |project| %>
          <tr>
            <%= render 'projects/table_shared_data', project: project %>
            <td><%= link_to 'View', project_path(project) %></td>
          </tr>
        <% end %>
      
      <% elsif type.eql? 'show' %>
      
        <tr>
          <%= render 'projects/table_shared_data', project: data %>
          
          <% if current_user == data.creator %>
            <td><%= link_to 'Edit', edit_project_path(data) %></td>
          <% elsif data.is_collaborator?(current_user) %>
            <td><%= link_to 'Leave', project_leave_path(data), method: :post %></td>
          <% else %>
            <td><%= link_to 'Join', project_join_path(data), method: :post %></td>
          <% end %>
        </tr>       
      
      <% end %>
    </tbody>
  </table>
</div>