<div class="project_table_wrapper">
  <%= render 'projects/links', type: type, project: project %>
  
  <table class="table">

    <tbody>
      <tr>
        <td><strong>Creator</strong></td>
        <td><strong>Project Name</strong></td>
        <td><strong>Programming Language</strong></td>
        <td><strong>Description</strong></td>
        <td><strong>Action</strong></td>
      </tr>

      <% if type.eql? 'index' %>
      
        <% project.each do |project| %>
          <tr>
            <td><%= project.creator.name %></td>
            <td><%= project.name %></td>
            <td><%= project.lang %></td>
            <td><%= project.description %></td>
            <td><%= link_to 'View', project_path(project) %></td>
          </tr>
        <% end %>
      
      <% elsif type.eql? 'show' %>
      
        <tr>
          <td><%= project.creator.name %></td>
          <td><%= project.name %></td>
          <td><%= project.lang %></td>
          <td><%= project.description %></td>

          <% if current_user == project.creator %>
            <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <% else %>
            <td><%= link_to 'Join', '#' %></td>
          <% end %>
        </tr>       
      
      <% end %>
      
    </tbody>
  </table>
</div>