<!DOCTYPE html>
<html>
  <head>
    <title>CoLab</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    
    <div class="content">
      <%= render 'layouts/messages' %>
      <%= yield %>
      
      <% if signed_in? %>
        <input class="btn btn-blu" type="button" value="Go Back" onclick="history.back(-1)" />
      <% end %>  
    </div>

  </body>
</html>
